body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.leaflet-popup-content-wrapper {
	border-radius: 12px;
	border: rgba(0, 172, 237, 1) 4px solid;
	background-color: white;
	height: auto;
}
.twhandle{
	color: #00aced;
	font-style: bold;
	text-decoration: none;
	font-size: 24px;
}
#tweethead{
	position: relative;
    font-weight: bold;
    margin-bottom: -10px;
    padding-bottom: 15px;
    border-bottom: rgba(192, 222, 237, 1) 2px solid;
}
#tweethead2{
	position: relative;
	text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: -10px;
    padding-bottom: 15px;
    border-bottom: rgba(192, 222, 237, 1) 2px solid;
}
#locatebox {
	text-align: center;
}
#left {
    width: 40%;
    height: 100%
    position: fixed;
}
#right {
	position: absolute;
	left: 80px;
	bottom: 35px;
	height: 100%
    width: 60%;
}
#bottom {
	width: 100%;
}
a {
	text-decoration: none;
	color: black;
}
.leaflet-popup-tip {
	background-color: rgba(192, 222, 237, 0.4);
}
#link {
	height: 60px;
	width: 60px;
	border-radius: 50%;
    	border: 4px solid rgba(192, 222, 237, 1);
	transition: .4s ease-in-out;
}
#link:hover {
	border: rgba(0, 172, 237, 1) 4px solid;
}
.seticons {
	position: fixed;
}
footer {
   position:absolute;
   bottom:0;
   width:95%;
   height:30px;
}
.marquee {
 font-size: 16px;
 height: 30px;
 overflow: hidden;
 position: relative;
 color: white;
 z-index: 999;
 padding-top: 2px;
 border-top: rgba(255,255,255, 0.3) 1px solid;
}
